h1{
	color : black;
	text-align: center;
	font-size:65px;
	font-weight: bold;
	background-image: url("../quick_menu_photo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin:0;
	overflow: hidden	
}
img{
	padding-left: 35%;
	margin: 0;
}
button{
	margin-top: 14%;	
}
a{
	color: black;
	font-size: 17px; 
	text-decoration: none;
}
a:hover{
	color: red;
}
.contact li{

	display: inline;
	font-size: 25px;
	padding-left: 4%;
	
}


