<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CONTACTS</title>
	<link rel="stylesheet" type="text/css" href="css folder/contactsstyle.css">
</head>
<body>
	<h1>CONTACTS</h1>
	<img src="../person.png">
	<div class="contact">
		<ul>
			<li>Jonathan.manzi-mihigo@student.uclouvain.be </li>
			<li>Jonathan.twite@student.uclouvain.be </li>
			<li>Kimberly.sanchez@student.uclouvain.be </li>
			
		</ul>
	</div>
	<button><a href="coronamenu.html">Return to the menu</a></button>
</body>
</html>