	<!DOCTYPE html>
	<html lang= "es">
	<head>
		<title>Actualites de le Covid-19</title>
	</head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet"  href="{{url_for ('static', filename='styles.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<head>
	<body>
		<!-- Menu -->
		<header id= " header"> 
			<nav class= "menu">
				<div class="logo-box">
					<h1><a href="#">CoVid-19</a></h1>
					<span class="btn-menu"><i class="fas fa-bars"></i></span>
				</div>
				<div class="list-container">
        			<ul class="lists">
        				<li><a href="#" class="active">Actualite</a></li>
        				<li><a href="#">Europe</a></li>
            			<li><a href="#">Amerique</a></li>
            			<li><a href="world.html">WordEvolution</a></li>
            			<li><a href="#">Contacto</a></li>
        			</ul>
     			</div>
    		</nav>
    		<div class = "img-header">
    			<div class="welcome">
    				<h1>Actualites du Covid-19</h1>
    				<hr>
    				<p>Casos de covid 19</p>
    				<button li><a href="kim3.html">Total</a></li></button>
    			</div>
    		</div>
    		<div class="skeew-abajo"></div>
    	</header>
    <main>
    	<section class="acerca-de">
    		<div class="info"> 
    			<h1>Covid-19 in the world</h1>
    			<p>
    				While most of our work focuses on large problems that humanity has faced for a long time – such as child mortality, natural disasters, poverty and almost 100 other problems (see here) – this article focuses on a new, emerging global problem: the ongoing outbreak of the coronavirus disease [COVID-19].The outbreak started in late 2019 and developed into a global pandemic by March 2020.
    			</p>
    		<div class="about-gallery">
    			<img src="../img/toilet-paper-4942737_1920.jpg" alt=""> 
    			<img src="../img/covid-19-4908692_1920.jpg" alt="">	
    		</div>
    			
    		</div> 
    		
    	</section>

    	<!--Graficas</!-->
    	<section class="our-projects"> 
    		<div class="deg-background"></div>
    	<div class="ejeZproject">
    		<div class="container-project">
    			<div class="projet-title">
    			<h2>WHO</h2>
    			<hr>
    		</div>
    		<div class="project-img">
    			<img src="../img/chemistry-4932607_1920.jpg" alt="">
    			
    		</div>
    		</div>
    	</div>

    	</section>


    </main>
		
	<!--scripts-->
	<script src="https://kit.fontawesome.com/58c0da4435.js" crossorigin="anonymous"></script>
	<script type="app.js"></script>
	</body>
	</html>