<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Statistics</title>
	</head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet"  href="{{url_for ('static', filename='styles.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<head>
	<body>
		<!-- Menu -->
		<header id= " header"> 
			<nav class= "menu">
				<div class="logo-box">
					<h1><a href="#">Monthly submissions </a></h1>
					<span class="btn-menu"><i class="fas fa-bars"></i></span>
				</div>
				<div class="list-container">
        			<ul class="lists">
        				<li><a href="/" class="active">Home</a></li>
						<li><a href="{{url_for('generalLEPL1402')}}">Monthly submissions</a></li>
            			<li><a href="{{url_for('error')}}">Error,Failed.. </a></li>
            			<li><a href="{{url_for('fct_for_LEPL1402')}}">Overall analysis </a></li>
            			<li><a href="{{url_for('contacts')}}">CONTACTS</a></li>
        			</ul>
     			</div>
            </nav>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    <center>
    <h1>Monthly submissions of Approved Tasks </h1></center>
<canvas id="myChart" width="400px" height="160px"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['February', 'March', 'April', 'May', 'June', 'July', 
        'August', 'September', 'October', 'November', 'December' ],
        datasets: [{
            label: 'Monthly submissions ',
            data: [{% for item in values %}
               "{{ item }}",
              {% endfor %}],
            backgroundColor:'rgba(137, 245, 63, 0.6)',
            borderColor:'rgba(137, 245, 63)',
            borderWidth: 1
        }]
    },
    options: {
                    layout:{
                    padding:{left: 50,
                    right: 0,
                    top: 10,

                        },
                    },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</body>
</html>