{% extends "base.html" %}

{% block title %} OVERALL ANALYSIS {% endblock %}

{% block link %} 
<div class="logo-box">
	<h1>Average Grade of each task in LEPL1402 </h1>
	<span class="btn-menu"><i class="fas fa-bars"></i></span>
</div>
<div class="list-container">
	<ul class="lists">
		<li><a href="/" class="active">Home</a></li>
		<li><a href="{{url_for('generalLEPL1402')}}">Monthly submissions</a></li>
		<li><a href="#">Success and Fail </a></li>
		<li><a href="{{url_for('fct_for_LEPL1402')}}">Overall analysis </a></li>
		<li><a href="{{url_for('contacts')}}">CONTACTS</a></li>
	</ul>
	</div>
{% endblock %}

{% block content %}
	
	<canvas id="graphique" width="400" height="150"> </canvas>
	<script type = "text/javascript">
	
	var dataPy = {{gear|tojson}}
	var ctx = document.getElementById('graphique').getContext('2d');
	console.log(ctx)
	let graphique = new Chart(ctx,{
		type:'bar',
		data:{
			labels:dataPy[0],
			
			datasets: 
			[
				{
					label:'Average Grade of each task in LEPL1402',
					data:dataPy[1],
					backgroundColor:'rgba(75, 192, 192, 0.2)',
                    borderColor:'rgba(153, 102, 255, 1)',
                    borderWidth: 1

				}
			]
			},
		
            
			options: {
                    
                    layout:{
                    padding:{left: 25,
                    		right: 25,
                    		top: 50,

                        },
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                            	suggestedMax: 110,
                                beginAtZero: true,
                                stepSize:10
                            }
                        }]
                    }
        	}
	})

	</script>
{% endblock %}