	<!DOCTYPE html>
	<html lang= "es">
	<head>
		<title>Statistics</title>
	</head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet"  href="{{url_for ('static', filename='styles.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<head>
	<body>
		<!-- Menu -->
		<header id= " header"> 
			<nav class= "menu">
				<div class="logo-box">
					<h1><a href="#"> INGInious Statistics </a></h1>
					<span class="btn-menu"><i class="fas fa-bars"></i></span>
				</div>
				<div class="list-container">
        			<ul class="lists">
        				<li><a href="/" class="active">Home</a></li>
						<li><a href="{{url_for('LSINF1101')}}">LSINF1101</a></li>
            			<li><a href="{{url_for('LSINF1252')}}">LSINF1252</a></li>
            			<li><a href="{{url_for('LEPL1402')}}">LEPL1402</a></li>
            			<li><a href="{{url_for('contacts')}}">CONTACTS</a></li>
        			</ul>
     			</div>
    		</nav>
    		<div class = "img-header">
    			<div class="welcome">
    				<h1>INGInious</h1>
    			</div>
    		</div>
    		<div class="skeew-abajo"></div>
    	</header>
    <main>
    	<section class="acerca-de">
    		<div class="info"> 
    			<h1>Graphical analyses</h1>
    			<p>
    				You can find different graphical analyses that give information about the progress of students in a specific course. These graphs can be very general or specific 
    			</p>
    		<div class="about-gallery">
    			<img src="../static/img/graf1.png" alt=""> 
    			<img src="../static/img/graf2.png" alt="">	
    		</div>
    			
    		</div> 
    		
    	</section>
    		</div>
    	</div>

    	</section>


    </main>
		
	<!--scripts-->
	<script src="https://kit.fontawesome.com/58c0da4435.js" crossorigin="anonymous"></script>
	<script type="app.js"></script>
	</body>
	</html>