a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: red;
}
body{


	font-family:Arial, Helvetica, Serif;
	font-size: 18px;

}

p{
	padding-left: 10%;
	padding-right: 10%;	
}

ul{
	padding-left: 13%;
	width: 70%;	
}
button{
	margin-top: 40px;
}

}
#block1{
	margin: 10%;
	overflow: hidden;
	height: 100px;


}

#block1 h1{
	color : black;
	text-align: center;
	font-size:65px;
	font-weight: bold;
	background-image: url("../quick_menu_photo.jpg");
	margin: auto;	
}
